<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" class="card-body">
      {% csrf_token %}
      <div class="form-control">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input
          name="email"
          type="text"
          placeholder="email"
          class="input rounded-lg border-gray-300 outline-none focus:border-green-500"
        />
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          name="password"
          type="password"
          placeholder="password"
          class="input rounded-lg border-gray-300 outline-none focus:border-green-500"
        />
        {% if msg%}
        <div class="mt-6 alert alert-error shadow-lg">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="stroke-current flex-shrink-0 h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
            <span>{{msg}}.</span>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="form-control mt-6">
        <button type="submit" class="btn bg-green-600 text-white border-0">
          Login
        </button>
      </div>
    </form>
  </body>
</html>
